/* =============================================================
GOOGLE FONT
============================================================ */

@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Overpass");

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-image: url(assets/img/Background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 100%;
}

.content {
    flex: 1 0 auto;
}

li,
a,
button,
.footer {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
}

input[type="text"] {
    border: 0px;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    border: 2px solid rgba(254, 206, 168, 1);
    padding: 14px 10px;
    width: 250px;
    outline: none;
    color: whitesmoke;
    border-radius: 24px;
    transition: 0.25s;
}

input[type="text"]:focus {
    width: 280px;
    border-color: #ff847c;
}

input[type="submit"] {
    border: 0px;
    background: rgba(232, 74, 95, 1);
    display: block;
    margin: 20px auto;
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    border: none;
    padding: 14px 40px;
    outline: none;
    color: whitesmoke;
    border-radius: 24px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: rgba(232, 74, 95, 0.75);
}

/* MENU START */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.button-signin {
    margin-left: 15px;
}

.button-signin button {
    background-color: rgba(232, 74, 95, 1);
    padding: 9px 20px;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.button-signin button:hover {
    background-color: rgba(232, 74, 95, 0.75);
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 15px;
}

.nav-links li a {
    padding: 0px 10px;
    transition: all 0.3s ease 0s;
}

.nav-links li .active {
    padding: 9px 20px;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.2);
}

.nav-links li a:hover {
    color: #ff847c;
}

/* MENU END */

/* TITLE START */

.home {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.home-title {
    display: inline;
    vertical-align: middle;
    font-family: "Overpass";
    font-weight: bold;
    font-size: 80px;
    color: whitesmoke;
    font-weight: lighter;
}

.training {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.training-title {
    display: inline;
    vertical-align: middle;
    font-family: "Roboto";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    color: whitesmoke;
    font-weight: lighter;
}

/* TITLE END */

/* CHOOSE TRAINING START */

.choose-training {
    display: flex;
    margin: 0px auto;
    width: 50%;
    min-width: fit-content;
    justify-content: space-between;
    align-items: center;
}

.choose-training button {
    background-color: rgba(254, 206, 168, 1);
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    width: 255px;
    height: 255px;
}

.choose-training button h2 {
    font-size: inherit;
}

.choose-training img {
    margin: 15px auto;
    width: 38%;
    height: 38%;
}

.item-training {
    margin: 0px 30px;
}

.choose-training button:hover {
    background-color: rgba(254, 206, 168, 0.75);
}

/* CHOOSE TRAINING END */

/* CHOOSE TOPIC START */

.choose-topic {
    display: grid;
    margin: 0px auto;
    width: 70%;
    min-width: fit-content;
    grid-template-columns: 1fr 1fr 1fr;
}

.choose-topic button {
    background-color: rgba(254, 206, 168, 1);
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    width: 225px;
    height: 100px;
}

.choose-topic button h2 {
    font-size: inherit;
}

.choose-topic button:hover {
    background-color: rgba(254, 206, 168, 0.75);
}

.item-topic {
    margin: 15px 10px;
    justify-self: center;
}

/* CHOOSE TOPIC END */

/* SIGN IN START */

.signin {
    width: 350px;
    padding: 15px;
    margin: 60px auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.signin-content h1 {
    color: whitesmoke;
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: 400;
    margin: 20px auto;
    text-align: center;
}

/* SIGN IN END */

/* ABOUT START */

.about-wrapper {
    width: 70%;
    margin: 60px auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.about-content {
    display: grid;
    grid-template-columns: 255px 1fr;
}

.about-content .photo-side,
.about-content .info-side {
    padding: 15px;
    margin: 0px auto;
}

.about-content .photo-side img {
    width: 225px;
    height: 225px;
    border-radius: 10px;
}

.about-content .info-side p {
    color: whitesmoke;
    font-family: "Roboto";
    font-weight: 400;
    text-align: justify;
    text-decoration: none;
}

.about-content .info-side input {
    margin: 20px 0px;
}

/* ABOUT END */

/* PRODUCTS START */

.products-wrapper {
    width: 70%;
    margin: 60px auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.products-content {
    display: grid;
    grid-template-columns: 310px 1fr 1fr;
}

.products-content .add-side,
.products-content .list-side,
.products-content .info-side {
    padding: 15px;
}

.products-content .add-side input[type="text"] {
    margin-top: 0px;
}

.products-content .add-side input[type="submit"] {
    margin-bottom: 0px;
}

.products-content .add-side p,
.products-content .info-side p {
    color: whitesmoke;
    font-family: "Roboto";
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}

.products-content .list-side li {
    display: block;
    padding-bottom: 8px;
}

.products-content .list-side li a {
    transition: all 0.3s ease 0s;
}

.products-content .list-side li a:hover {
    color: #ff847c;
}

.products-content .add-side p {
    margin-top: 15px;
}

.products-content .info-side p {
    text-align: justify;
}

/* PRODUCTS END */

/* FOOTER START */

.footer {
    flex: 0 0 auto;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 8px 0px;
}

.footer h2 {
    margin: 6px 0px;
    font-weight: normal;
    font-size: 16px;
}

/* FOOTER END */

@media (max-width: 768px) {
    header {
        display: block;
        padding-top: 10px;
        padding-bottom: 0px;
    }

    button,
    input,
    li,
    a {
        font-size: 18px;
        text-align: center;
    }

    .nav-links li {
        display: block;
        padding: 14px 0px;
    }

    .button-signin {
        margin-left: 0px;
    }

    .button-signin button {
        display: block;
        width: 50%;
        margin: 6px auto 0px;
    }

    .home {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .home-title {
        font-size: 13.5vw;
        padding-left: 10px;
        padding-right: 10px;
    }

    .training {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .training-title {
        font-size: 45px;
    }

    .choose-training {
        display: grid;
        grid-template-columns: 1fr;
    }

    .choose-training button {
        font-size: inherit;
        height: 235px;
        width: 235px;
    }

    .item-training {
        margin: 0px auto 30px;
    }

    .choose-topic {
        grid-template-columns: 1fr;
    }

    .choose-topic button {
        width: 300px;
    }

    .item-topic {
        margin: 0px auto 30px;
    }

    .signin {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
    }

    .about-wrapper,
    .products-wrapper {
        margin: 30px auto;
        width: 100%;
    }

    .about-content {
        grid-template-columns: 1fr;
    }

    .about-content .photo-side {
        margin: 20px auto;
        padding-bottom: 0px;
    }

    .about-content .info-side p {
        font-size: 18px;
        text-align: center;
    }

    .products-content {
        grid-template-areas:
            "add-item add-item"
            "list info";
        grid-template-rows: repeat(2, fit-content);
        grid-template-columns: repeat(2, 1fr);
    }

    .products-content .add-side {
        grid-area: add-item;
    }

    .products-content .list-side {
        grid-area: list;
        padding-top: 0px;
    }

    .products-content .list-side li a {
        font-size: 16px;
    }

    .products-content .info-side {
        grid-area: info;
        padding-top: 0px;
    }

    .products-content .info-side p {
        text-align: center;
    }

    .about-content .info-side input {
        margin: 20px auto;
    }

    .footer h2 {
        font-size: 18px;
    }
}
